.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
    margin: 20px 0;
}

.titulo {
    margin-left: 8px;
}

textarea{
    min-height: 100px;
    resize: none;
}

button {
    width: 150px;
    height: 40px;
    margin-right: 15px;
    float: right;
}



.form-button{
    display: block;
    /* width: 22%; */
    padding: 10px;
    margin: 20px ;
    background-color: #1351d8;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font: 16px;
    border-radius: 10px;
}
.form-button:hover{
    background-color: #092c78;
    transform: scale(1.2);
}


#h3-title{
    
    font-size: 20px;
    font-weight: 700;
    padding: 5%;
}

.termos{
    color: #807d7d;
    display: block;
    width: 315px;
    text-align: left;
    margin-left: 8px;
    font-size: 11px;
    text-align: justify;
    margin-bottom: 10px;
}

.checkbox{
    padding: 1px;
    display: block;
    font-size: small;
    text-align: left;
    margin-left: 4px;
    font-size: 13px;
}

.checkbox input, label{
    vertical-align: middle;
}

.borda{
    border: solid 1px #5647f52d;
    padding: 19px 25px 10px 25px;
    border-radius: 22px;
    box-shadow: #2317ca33 10px 10px 10px;
}

.desabilitado{
    background-color: #25262877;
    color: #fbfbfbb3;
    display: block;
    padding: 10px;
    margin: 20px ;
    text-align: center;
    border: none;
    font: 16px;
    border-radius: 10px;
}